---
import Layout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";
---

<Layout title="Sede San Andrés de Giles | IABOT">
  <section class="py-20 px-6 text-center bg-[#ddebf7] text-[var(--color-text)]">
    <h1 class="text-4xl sm:text-5xl font-title font-bold mb-4">
      Sede San Andrés de Giles
    </h1>
    <p class="text-lg max-w-2xl mx-auto mb-6">
      En Giles trabajamos con grupos reducidos para potenciar el aprendizaje
      personalizado. ¡Sumate!
    </p>
    <div
      class="w-full max-w-4xl mx-auto h-[300px] sm:h-[400px] lg:h-[450px] rounded-xl overflow-hidden shadow-md"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d205.64119914977945!2d-59.444299!3d-34.445568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb8ce61080be59%3A0x44dde4b6e4e09d4!2sAvellaneda%20754%2C%20San%20Andres%20de%20Giles%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1750992281761!5m2!1ses-419!2sar"
        class="w-full h-full border-0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ubicación de IABOT San Andrés de Giles"></iframe>
    </div>
  </section>
</Layout>
